@model IEnumerable<WebServices.Models.Reservation>

    <div class="panel-heading">
        Reservation Summary
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Location</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.ReservationID</td>
                    <td>@item.ClientName</td>
                    <td>@item.Location</td>
                    <td> @Html.ActionLink("Remove", "Remove", new { id = item.ReservationID }, new { @class = "btn btn-primary" })</td>
                </tr>        
                }
            </tbody>
        </table>
    </div>
 


